<!DOCTYPE html>{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
</head>

<body>
    <header class="row">
        <div class="col-lg-2">
            <a tittle="LOGO" href="/"><img src="{% static 'img/logoFerme.png' %}" alt="LOGO"></a>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <h1>AGREGAR PRODUCTO</h1>
        </div>
    </header>
    <hr>
    <main id="AgregarProducto" class="row">
        <div id="registroProducto" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% block content %}
            <form name="producto" id="formularioProducto" enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}

                <label>Fotografía:</label><br>
                <input type="file" name="fotografiaProducto" accept="image/*"><br><br>
                
                <label>Código Producto:</label><br><br>
                <input type="text" name="codigoProducto"><br><br>

                <label>Nombre:</label><br><br>
                <input type="text" name="nombreProducto"><br><br>

                <label>Precio:</label><br><br>
                <span>$</span> </h1> <input type="number" name="precioProducto"><br><br>

                <label>Stock:</label><br><br>
                <input type="number" name="stockProducto"><br><br>

                <label>Stock Crítico:</label><br><br>
                <input type="number" name="stockCriticoProducto"><br><br>

                <label>Fecha Vencimiento:</label><br><br>
                <input type="date" name="fechaVencimientoProducto"><br><br>

                <label>Descripción:</label><br><br>
                <textarea name="descripcionProducto" cols="30" rows="10"></textarea><br><br>

                <label>Categoría:</label><br><br>
                <select name="nomCategoria" id="nomCategoria">
                    <option value="Seleccionar">Seleccionar</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.pk }}">{{ categoria.nombreCategoria }}</option>
                    
                    {% endfor %}
                </select><br><br>

                <button type="submit">Registrar</button>

                
            </form>
            {% endblock %}
            
        </div>
    </main>


</body>

</html>