

{%extends "core/base.html"%}
{%block title%} 
Ferme Catalogo
{%endblock%}
{% load static %}
{%block content%}
<h1 >Producto: {{producto.nombreProducto}}</h1>

<hr>
<br>
<br>
<br>


<div class="row">

<class class="col">
<div class="card">
    <img style="width:300px" src="{{producto.fotografiaProducto.url}}" alt="">

  <p><label for="">Nombre producto :</label> {{producto.nombreProducto}}</p>
  <p><label for="">Precio producto :</label>$ {{producto.precioProducto}}</p>
  
  <form action="{% url 'anadir_carrito' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="producto" value="{{producto.pk}}">
      <input type="hidden" name="usuario" value="{{request.user.pk}}">
      <input type="hidden" name="precio" value="{{producto.precioProducto}}">
      <span>Cantidad: <input type="number" name="cantidad"></span>
      
      <button type="submit">Agregar al Carro</button>
      
  </form>  
        
</div>

</class>

</div>

{%endblock%}