

{%extends "core/base.html"%}
{%block title%} 
Ferme Catalogo
{%endblock%}
{% load static %}
{%block content%}
<h1 >Productos</h1>

<hr>
<br>
<br>
<br>


<div class="row">
{% for producto in producto_list%}
<class class="col">
<div class="card">
    <img style="width:300px" src="{{producto.fotografiaProducto.url}}" alt="">

  <p><label for="">Nombre producto :</label> {{producto.nombreProducto}}</p>
  <p><label for="">Precio producto :</label>$ {{producto.precioProducto}}</p>
  <p><a href="{% url 'detalle_producto' producto.id producto.nombreProducto|slugify %}">Leer más</a>
    
            
</div>
  

</class>

{% endfor%}
</div>

{%endblock%}