<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%} Ferme Ferreterias{% endblock %}</title>
   
   
    {% load static%}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{%static 'core/css/materialize.css' %}" rel="stylesheet" media="screen,projection">
    <link href="{%static 'core/css/css.css' %}" rel="stylesheet">

</head>

<body>
    <!--cabecera-->
    <div class="cabecera" id="row-cabecera">
        <div class="row" >

            <div class="col 4">
                <img src="{%static 'core/img/logo.jpg'%}" alt="" id="logo">
            </div>
            <div class="col 4">
                <form action="" method="GET" class="buscar">
                    <div><input type="text" placeholder="Que busca?"></div>
                    <div> <input type="button" value="Buscar" class="btn-buscar"></div>

                </form>
            </div>
            <div class="col 4">

                {% if user.is_authenticated%}
                
                <p>Bienvenido <var style="color:blueviolet" >{{user.username}}</var>  | <a href="{% url 'logout'%}">Salir</a>|
                {% else%}
                <a href="{% url 'signup'%}">registrar</a>|
                <a href="{% url 'login'%}">ingresar</a></p>
               
                {%endif%}
              

            </div>

        </div>

        <div class="row" >
            <div class="col l6" >
                <p>Aca va el filtro</p>
                
            </div>
            <div class="col l6" >
                    
                    
                    <a href="{% url 'quienesSomos'%}" id="menu">quienes somos</a>
                    <a href="{% url 'contacto'%}" id="menu">contacto</a>
                    <a href="{% url 'servicios'%}" id="menu">Servicios</a>
                    <a href="{% url 'agregarProducto' %}" id="menu"> otros</a>
                    
                    
                </div>
        </div>

    </div>



    <!--contenido-->
    <div class="container">
        <!--aca va el contenido-->
        {%block content%}

        {%endblock%}

    </div>






    <!--scripts-->
    

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="{%static 'core/js/materialize.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
$('select').formSelect();
});
$(document).ready(function(){
    $('.datepicker').datepicker({
        format:'dd/mm/yy'
    });
  });
</script>
</html>