{%extends "core/base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {%load static%}
    <!--aqui se cargaran los recursos -->
</head>
<body>
    
    <h1>pagina de pruebas Home</h1>
    <br>
    <nav>
        <li><a href="#">quienes somos </a></li>
        <li><a href="{% url 'contacto'%}">contato </a></li>
        <li><a href="{% url 'quienesSomos'%}">quienes somos </a></li>
    
        <li><a href="{% url 'agregarProducto'%}">Agregar Producto</a></li>
    </nav>
</body>
</html>
