#logo{
    height:15vh;
    width: 27vw; 
    
    
   
   
}
.buscar div{
    width: 50vh;
    float: left;
}

.buscar div .btn-buscar{
    margin-top: 6%;
    margin-left: 20%;
    border: #8e24aa;
    background-color:  #8e24aa;
    color: aliceblue;
    float: left;
    height: 30px;
}
#row-cabecera{
    border-style: solid;
    border-color: #8e24aa;
    height:25vh;
    
}

/*el menu*/

#menu{
    margin :5%;
    color: black;
}
    
