{% extends "core/base.html"%}

{% block content%}
<h2>Ingresar</h2>
<form action="" method="post">
{%csrf_token%}
{{form.as_p}}
<input type="submit" value="Ingresar">
</form>
<p><a href="{% url 'password_reset'%}">olvido la contraseña?</a></p>
{% endblock%}