{% extends "core/base.html"%}

{% block content%}
<h2>Ingresar</h2>
<p>Por favor, ingrese  su correo para actualizar su contraseña</p>
<form action="" method="post">
{%csrf_token%}
{{form.as_p}}
<input type="submit" value="Ingresar">
</form>

{% endblock%}