{% extends "core/base.html"%}

{% block content%}
<h2>Nueva Contraseña</h2>
{%  if validlink %}
    <p>Por favor, ingrese  su nueva contraseña</p>
    <form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Ingresar">
    </form>
{% else %}
    <p style="color:red">expirado</p>
    <a href="{% url 'password_reset'%}">solicitar nuevamente</a>
{% endif%}
{% endblock%}