@import url('https://fonts.googleaps.com/css?family=Open+Sans|Raleway|Muli|Kanit');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #6A1B9A; 
    text-align: center;
    align-items: center;
}

header img{
    padding-top: 2vh;
    padding-left: 2vh;
    width: 65%;
}

header h1{
    text-align: center;
    line-height: 5vh;
    font-family: 'Open Sans', sans-serif;
    color: #FF6D00;
    padding: 3vh;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

hr{
    color: #FF6D00;
    border: 1px solid #FF6D00
}

#AgregarProducto{
    background-image: url(../img/fondoRescatado.jpg);
}

#registroProducto{
    font-family: 'Open Sans', sans-serif;
    padding-top: 5%; 
    padding-bottom: 5%;
    background-image: url(../img/fondoRescatado.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#formularioProducto{
    text-align: left;
    padding-left: 44%;
}

#registroProducto button{
    padding: 1vh 4vw;
    color:#ffffff;
    border: solid 1px #000000;
    background-color: #6A1B9A;
}

#registroProducto select{
    padding: 1vh 3.5vw;
}

#registroProducto input:focus{
    outline: 3px solid #6A1B9A ;
}

#registroProducto input{
    padding: 1vh 1vw;
}

#registroProducto textarea:focus{
    outline: 3px solid #6A1B9A ;
}

#registroProducto select:focus{
    outline: 3px solid #6A1B9A ;
}

#registroProducto label{
    color: #000000;
    text-shadow: 2px 2px 2px #ffffff;
}